<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dandinglong.mapper.UploadFileMapper">
    <update id="setStep">
        update upload_file set step=step+#{step} where id=#{id}
    </update>

</mapper>