<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dandinglong.mapper.BaiduAppInfoMapper">
    <update id="invoiceUsedNumAdd" parameterType="com.dandinglong.entity.BaiduAppInfoEntity">
        update baidu_app_info set invoice_used_num=invoice_used_num+1 where id=#{id} and invoice_used_num &lt; #{invoiceUsedNum}
    </update>

</mapper>