<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dandinglong.mapper.UserMapper">
    <update id="updateLastLoginTime" parameterType="com.dandinglong.entity.UserEntity">
        update user set last_login_time=SYSDATE() where id=#{id};
    </update>

</mapper>